html { min-height: 100%; background: url('/img/snow.png'); }
body { width: 100%; min-height: 100%; font: 18px/1.5em 'Roboto', sans-serif; font-weight: 300; -webkit-font-smoothing: antialiased; }

/*font-family: 'Calligraffitti', cursive;*/

h1, h2, h3 { font-family: 'Calligraffitti', cursive; color: #fff; }
h2 { font-size: 50px; }
.snow h2, #message h2 , #messages h2 { color: #ce2027; line-height: 2em; text-shadow: 1px 1px #fff; }
h1.intro { color: #fff; font-size: 100px; line-height: 1em; text-shadow: 1px 1px #000; }
h2.intro { color: #fff; font-size: 50px; line-height: 1em; text-shadow: 1px 1px #000; }
h3.intro { color: #fff; font-size: 24px; line-height: 2.5em; text-shadow: 1px 1px #000; }
p, h2 { margin-top: 20px; color: #fff; line-height: 2em; text-shadow: 1px 1px #000; }
.snow p, #message p, #messages p { color: #000; text-shadow: 1px 1px #fff; }
b { font-weight: 400; }
a { color: #ef8d01; font-weight: 400; text-decoration: none; }
p { font-size: 16px; }

.button { text-decoration: none; background: transparent; border: 2px solid #fff; border-radius: 10px; text-transform: uppercase; font-size: 24px; color: #fff; display: block; height: 67px; width: 262px; margin: 0 auto; line-height: 2.8em; -webkit-font-smoothing: antialiased; }
.snow .button { color: #ce2027; border-color: #ce2027; }

section { text-align: center; width: 100%; height: 100%; }

.opacity { background: rgba(0,0,0,0.3); height: 100%; }
article { width: 100%; height: 50%; }
article:not(.half) { padding-top: 13%; }

.panel { width: 80%; height: 80%; background: #fff; position: fixed; top: 10%; left: 10%; border-radius: 15px; display: none; }
.panel h2, .panel p { color: #000; text-shadow: 1px 1px #fff; }
.panel p { padding: 0 20px; margin-top: 20px; }

#home { background: url('/img/home.jpg') center no-repeat; background-size: cover; }
#accommodation { background: url('/img/accommodation.jpg') center no-repeat; background-size: cover; }
#ceremony .button { display: inline-block; }
#photos .opacity { padding: 20px 0; height: auto; }
#photos .opacity img { background: #fff; vertical-align: middle; border: 10px solid #fff; border-radius: 250px; margin: 4%; width: 190px; }
#rsvp { background: url('/img/rsvp.jpg') center no-repeat; background-size: cover; }
#messages { background: url('/img/messages.jpg') center no-repeat; background-size: cover; }

#rsvp form, #message form { padding-top: 30px; }
#rsvp .input { margin-bottom: 20px; padding: 0 15%; }
#message .input { padding: 0 15%; }
#message .textarea { padding: 0 7%; }
#rsvp .input input, select, #message .input input { width: 90%; padding-left: 10%; height: 34px; border: none; font-size: 22px; }
#message .input textarea { width: 98%; }
#rsvp .input select { width: 100%; }
#rsvp .submit { margin-top: 75px; padding: 0 11%; }
#message .submit { padding: 0 11%; }
#message form { margin-bottom: 30px; }
#rsvp .submit input, #message .submit input { width: 90%; padding: 0 5%; height: 34px; color: #fff; background: #ce2027; border: none; font-size: 22px; border-radius: 5px; }
input::-webkit-input-placeholder { color: #000; }
.hotel input { background: rgba(255,255,255,0.5) url('/img/icon-home.png') 3px center no-repeat; background-size: 7%; }
.name input { background: rgba(255,255,255,0.5) url('/img/icon-person.png') 3px center no-repeat; background-size: 8%; }
.length select { background: rgba(255,255,255,0.5) url('/img/icon-cal.png') 3px center no-repeat; background-size: 8%; }

@media (max-width: 480px) {
  h1.intro { font-size: 45px; }
  h2.intro { font-size: 30px; margin-top: 20px; }
  h3.intro { font-size: 18px; }
  h2 { font-size: 35px; padding-top: 20px; margin-top: 0; }
  p { font-size: 14px; }
  #photos .opacity img { width: 30%; }
}

@media (max-width: 320px) {
  h1.intro { font-size: 40px; }
  h2.intro, h2 { font-size: 28px; }
  h3.intro { font-size: 15px; }
  h2 { font-size: 30px; }
}